/* ==========================================================================
   Start - Declarations for HTML/non-class/ID elements
   ========================================================================== */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 9rem;
	background-color: $color-grey-dark;

	@include at-least(481px) {
		margin-bottom: 5rem;
	}
}

a {
	color: $color-green;

	&:visited {
		color: darken($color-green, 15%);
	}
}