/* ==========================================================================
   Color variables
   ========================================================================== */

$color-green: #16C43E;
$color-green-light: #73DC8B;
$color-grey-dark: #333333;
$color-grey-mid: #999999;
$color-grey-light: #EDEDED;
$color-white: #FFFFFF;